<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title.default }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
	<link rel="alternate" hreflang="x-default" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
	
	<!-- opengraph information -->
	<meta property="og:title" content="restfb">
	<meta property="og:site_name" content="restfb">
	<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ "/img/restfb-logo-facebook.png" | prepend: site.baseurl | prepend: site.url }}"> 
	<!-- opengraph end -->

    <link rel="stylesheet" href="{{ "/styles.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
	
	{% if page.header == "landing" %}
	
	<!-- owl carousel styles -->
    <link rel="stylesheet" href="{{ "/css/owl/owl.carousel.min.css" | prepend: site.baseurl }}">
	<link rel="stylesheet" href="{{ "/css/owl/owl.theme.default.min.css" | prepend: site.baseurl }}">
	
	<!-- gray styles -->
	<link rel="stylesheet" href="{{ "/css/gray/gray.min.css" | prepend: site.baseurl }}">
	
	{% endif %}

    <script type="text/javascript">
        window.smartlook||(function(d) {
        var o=smartlook=function(){ o.api.push(arguments)},h=d.getElementsByTagName('head')[0];
        var c=d.createElement('script');o.api=new Array();c.async=true;c.type='text/javascript';
        c.charset='utf-8';c.src='//rec.smartlook.com/recorder.js';h.appendChild(c);
        })(document);
        smartlook('init', '14bb3076d390a23b1094997d91ed19bfa3a31b85');
    </script>
    
	
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
