<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title.default }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
	<link rel="alternate" hreflang="en" href="{{ site.url }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="icon" type="image/png" href="{{ "/img/favicon.png" | prepend: site.baseurl }}">
	
	<!-- opengraph information -->
	<meta property="og:title" content="restfb">
	<meta property="og:site_name" content="restfb">
	<meta property="og:url" content="http://restfb.com">
	<meta property="og:description" content="{{ site.description }}">
	<meta property="og:type" content="website">
	<meta property="og:image" content="{{ "/img/restfb-logo-facebook.png" | prepend: site.baseurl | prepend: site.url }}"> 
	<!-- opengraph end -->

    <link rel="stylesheet" href="{{ "/styles.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
