<!--[if lt IE 9]>
    <script src="{{ "/js/jquery-1.12.1.min.js" | prepend: site.baseurl }}"></script>
<![endif]-->
<!--[if !(IE)|(gte IE 9)]><!-->
    <script src="{{ "/js/jquery-3.1.0.min.js" | prepend: site.baseurl }}"></script>
<!--<![endif]-->
	
	<script src="{{ "/js/jquery.scrollto.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>

	
<!-- Bootstrap Core JavaScript -->
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>


{% if page.header == "landing" %}
    <script src="{{ "/js/jquery-dateformat.min.js" | prepend: site.baseurl }}"></script>

	<!-- clients scroller -->
	<script src="{{ "/js/scrollbox.min.js" | prepend: site.baseurl }}"></script>
	
    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/restfb.min.js" | prepend: site.baseurl }}"></script>
	
    <script src="{{ "/js/sticky-detect.min.js" | prepend: site.baseurl }}"></script>
{% else %}
    <script src="{{ "/js/restfb-docs.min.js" | prepend: site.baseurl }}"></script>
{% endif %}

<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-12795899-1");
		pageTracker._trackPageview();
	} catch (err) {
	}
</script>
	
<script id="zammad_form_script" src="https://help.restfb.com/assets/form/form.js"></script>

<script>
$(function() {
  $('#feedback-form').ZammadForm({
    messageTitle: 'Contact Us',
    messageSubmit: 'Submit',
    messageThankYou: 'Thank you for your inquiry (#%s)! We\'ll contact you as soon as possible.',
	showTitle: true,
    modal: true
  });
});
</script>

<script src="{{ "/js/scroll-to-top.js" | prepend: site.baseurl }}"></script>