<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
	<div class="container">
	    <div class="collapse navbar-collapse justify-content-center" id="navbarSubNavigation">
	      <ul id="page-nav" class="navbar-nav justify-content-between">
	        <li class="nav-item">
	  		  <a title="Customers" class="nav-link page-scroll" href="#customers">Happy Customers</a>
	        </li>
	        <li class="nav-item">
	  		  <a title="Features" class="nav-link page-scroll" href="#features">Features</a>
	        </li>
	        <li class="nav-item">
	  		  <a title="Download" class="nav-link page-scroll" href="#download">Download</a>
	        </li>
	        <li class="nav-item">
	  		  <a title="Contributing" class="nav-link page-scroll" href="#contribute">Contributing</a>
	        </li>
	        <li class="nav-item">
	  		  <a title="Team" class="nav-link page-scroll" href="#team">Team</a>
	        </li>
	        <li class="nav-item">
	  		  <a title="Sponsors" class="nav-link page-scroll" href="#sponsors">Sponsors</a>
	        </li>
	        <li class="nav-item">
	  		  <a title="License" class="nav-link page-scroll" href="#license">License</a>
	        </li>
	      </ul>
	    </div>
	</div>
</nav>