.restfb-brand {
	font-family: Monserrat;
	&.highlight {
	    color: #337ab7;
	}
	&.light {
    	color: #ffffff;
	}
	&.dark {
	    color: #000000;
	}
}

.restfb-logo-brand {
    font-family: Monserrat;
}

a {
	color: $siteColorPrimary;
}