.rfb-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
	h4 {
	    margin-top: 0;
	    margin-bottom: 15px;
		font-size: 18px;
		text-transform: none;
		font-weight: bold;
	}
	&.info {
	    border-left-color: #337AB7;
		h4 {
			color: #337AB7;
		}
	}
	&.warning {
    	border-left-color: #DF9F1F;
		h4 {
	    	color: #DF9F1F;
		}
	}
	&.danger {
    	border-left-color: #B95B3A;
		h4 {
	    	color: #B95B3A;
		}
	}
}