.navbar-default {
  border-color: transparent;
  background-color: #222;
  text-shadow: 2px 2px 1px #000000;

  .navbar-brand {
    font-family: "Monserrat";
	display: none;

    &:hover, &:focus, &:active, &.active {
      color: $siteColorSecondary;
    }
  }
  
  &.navbar-shrink {
  	  text-shadow: none;
	  .navbar-brand {
	  	display: block;
  	  }
  }
  
  .navbar-collapse {
      border-color: rgba(255,255,255,.02);
  }
  
  .navbar-toggle {
     border-color: $siteColorPrimary;
     background-color: $siteColorPrimary;
  	 .icon-bar {
  	   background-color: #fff;
  	 }
	 &:hover,&:focus {
	   background-color: $siteColorPrimary;	
	 }
  }
  
  .nav li a {
      text-transform: uppercase;
      font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      color: #fff;
	
  	&:hover, &:focus {
  	    outline: 0;
  	    color: $siteColorPrimary;
  	}
	
	}
	
	.navbar-nav>.active>a,
	.navbar-nav>.open>a {
	    border-radius: 0;
	    color: #fff;
	    background-color: $siteColorPrimary;
	
		&:hover,&:focus {
		    color: #fff;
		    background-color: $siteColorSecondary;
		}
	}
		
	.navbar-nav>li>.dropdown-menu {
		background-color: #222;
	}
	
	.dropdown-menu>li>a:focus, 
	.dropdown-menu>li>a:hover {
		background-color: #222;
	}
}

@media(min-width:768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
		
		.navbar-brand {
	        font-size: 2em;
	        -webkit-transition: all .3s;
	        -moz-transition: all .3s;
	        transition: all .3s;
		}
		
		.navbar-nav>.active>a,
		.navbar-nav>.open>a {
	        border-radius: 3px;
	    }
		
		&.navbar-shrink {
        	padding: 10px 0;
        	background-color: #222;

			.navbar-brand {
		    	font-size: 1.5em;	
			}
    	}
		
    }
}