#introHeader {
    /*text-align: center;*/
    color: #fff;
    background-color: #fff;
	
	.intro-text {
	    padding-top: 100px;
	    padding-bottom: 50px;
		width: 520px;
		font-weight: 300;
		
		.intro-lead-in {
		    margin-bottom: 25px;
		    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		    font-size: 20px;
		    font-style: normal;
			text-align: left;
		    line-height: 25px;
			margin-left: 60px;
			
			a {
				color: #7eb1dc;
			}
		}
		
		.intro-heading {
		    margin-bottom: 25px;
		    text-transform: none;
		    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		    font-size: 50px;
		    font-weight: 700;
		    line-height: 50px;
	        padding-left: 58px;
	        text-align: left;
		}
		
		.intro-buttons {
			margin-left: 60px;
			text-align: left;
		}
	}
}

#feedback-form {
    cursor: pointer;
}

@media(min-width:1100px) {
	#introHeader {
		background-attachment: scroll;
		background-position-x: right;
		background: url(img/restfb_back.svg);
		background-repeat: no-repeat;
	}

	#introHeader .intro-text {
        padding-bottom: 300px;
			
		.intro-heading {
			margin-bottom: 50px;
			font-size: 75px;
			line-height: 75px;
		}
		
		.intro-lead-in {
		    margin-bottom: 25px;
		    font-size: 27px;
			text-align: left;
		    line-height: 35px;
			margin-left: 60px;
		}
    }
}