.user-link-container { float: left; padding-right: 40px; }
.user-link-container a:hover { background-color: #fff; }
.friend2friend { margin-left: -12px; }
.ibm { padding-top: 56px; }
.tynamo { padding-bottom: 20px;}
.ou { padding-top: 37px; }
.angrybirds { margin-top: 56px; }
.hubspot { padding-top: 70px; }
.clearer { clear: left;	 }
.hljs {
    background: none;
}

@font-face {
    font-family: 'Monserrat';
    src: url('../fonts/montserrat-regular-webfont.eot');
    src: url('../fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/montserrat-regular-webfont.woff2') format('woff2'), url('../fonts/montserrat-regular-webfont.woff') format('woff'), url('../fonts/montserrat-regular-webfont.ttf') format('truetype'), url('../fonts/montserrat-regular-webfont.svg#monserrat_regular') format('svg');
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.bs-docs-section {
    line-height: 1.6em;
}

.restfb-brand-highlight {
    color: #337ab7;
}

.restfb-brand-light {
    color: #fff;
}

.restfb-brand-dark {
    color: #000;
}

.bs-docs-nav .navbar-brand {
    font-family: Monserrat;
}

.restfb-logo-brand {
    font-family: Monserrat;
}

.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: #337ab7;
}

.bs-docs-nav .glyph-padding {
    padding-right: 4px;
}

.bs-docs-sidebar .nav>.active:focus>a, .bs-docs-sidebar .nav>.active:hover>a, .bs-docs-sidebar .nav>.active>a {
    color: #337ab7;
    border-left-color: #337ab7;
}

.bs-docs-sidebar .nav>li>a:focus, .bs-docs-sidebar .nav>li>a:hover {
    color: #337ab7;
    border-left-color: #337ab7;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #555;
}

.bs-docs-header {
    margin-top: 50px;
}

.bs-docs-header a {
    color: white;
}

.bs-docs-header, .bs-docs-masthead {
    color: #7EB1DC;
    background-color: #094B83;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#1265AB),to(#094B83));
    background-image: -webkit-linear-gradient(top,#1265AB 0,#094B83 100%);
    background-image: -o-linear-gradient(top,#1265AB 0,#094B83 100%);
    background-image: linear-gradient(to bottom,#1265AB 0,#094B83 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1265AB', endColorstr='#094B83', GradientType=0);
}
