<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

    <body id="page-top" class="landing" data-spy="scroll" data-target="#page-nav" data-offset="56">
	
	{% include main-navigation.html %}
	{% include promo.html %}
	{% include sub-navigation.html %}
	
	{% include home/customers.html %}
	{% include home/features.html %}
	{% include home/download.html %}
	{% include home/contribute.html %}
	{% include home/team.html %}
	{% include home/about.html %}
	{% include home/license.html %}
	
	{% include footer.html %}
	
    {% include js.html %}

    </body>
</html>
