<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <p>
                    RestFB was created by <a href="mailto:maa@xmog.com">Mark Allen</a>, is maintained by <a
                        href="http://www.phpmonkeys.de/">Norbert Bartels</a>, and sponsored by <a target="_blank"
                                                                                                  href="http://xmog.com">Transmogrify,
                    LLC</a>.
                </p>

                <p>
                    Transmogrify is a Philadelphia-area software shop specializing in product design and web/mobile
                    software development.
                    Our experience runs the gamut from embedded systems to Oracle DBA work to the cutting-edge web
                    framework and iOS/Android technologies.
                    Give us a call at (215) 436-XMOG or send an email to <a href="mailto:product@xmog.com">product@xmog.com</a>
                    if you need a hand with
                    anything software-related. We can handle every part of the software lifecycle, from initial
                    requirements and design to ongoing maintenance and support.
                </p>

                <p>
                    Development of RestFB was aided by
                </p>
                <ul>
                    <li><a target="_blank" href="http://somafm.com/">SomaFM</a></li>
                    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Dead_Cities,_Red_Seas_%26_Lost_Ghosts"><i>Dead
                        Cities, Red Seas, &amp; Lost Ghosts</i> (M83)</a></li>
                    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Orbital_2"><i>Orbital 2</i> (Orbital)</a>
                    </li>
                    <li><a target="_blank" href="http://en.wikipedia.org/wiki/The_Crew_(7_Seconds_album)"><i>The
                        Crew</i> (7 Seconds)</a></li>
                    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Treatment_5"><i>Treatment 5</i>
                        (Osker)</a></li>
                    <li><a target="_blank" href="http://en.wikipedia.org/wiki/Kid_Dynamite_(album)"><i>Kid Dynamite</i>
                        (Kid Dynamite)</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>