<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
				<div class="owl-carousel owl-theme">
				{% for client in site.clients %}
                    <a href="{{ client.url }}" target="_blank" title="{{ client.name }}">
						<img src="{{ client.pic }}" class="grayscale grayscale-fade" alt="{{ client.name }} logo" title="{{ client.name }}">
                    </a>
				{% endfor %}
			</div>
            </div>
	    <div class="row">
		<div class="col-lg-12">
	            <div class="rfb-callout info">
		        <h4>You would like to see your logo here, too?</h4>
		        <div>If you're a happy RestFB user and would like to add a link to your site, please <a href="mailto:maa@xmog.com">send us an email</a>.
			</div>
		    </div>
		</div>
	    </div>
        </div>
    </aside>
