<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="https://apps.facebook.com/angrybirds/" target="_blank">
                        <img src="img/clients/angry-birds-friends.grey.jpg" class="img-responsive center-block" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.hubspot.com/" target="_blank">
                        <img src="img/clients/hubspot.grey.jpg" class="img-responsive center-block" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://dwinq.com/" target="_blank">
                        <img src="img/clients/dwinq.grey.jpg" class="img-responsive center-block" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.ibm.com/" target="_blank">
                        <img src="img/clients/ibm.grey.jpg" class="img-responsive center-block" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.friend2friend.com/" target="_blank">
                        <img src="img/clients/friend2friend.grey.jpg" class="img-responsive center-block" alt="">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.tynamo.org/" target="_blank">
                        <img src="img/clients/tynamo.grey.jpg" class="img-responsive center-block" alt="">
                    </a>
                </div>
            </div>
			<div class="row">
				<div class="col-lg-12">
					<div class="rfb-callout info">
						  <h4>You would like to see your logo here, too?</h4>
						  <div>
						      If you're a happy RestFB user and would like to add a link to your site, please <a href="mailto:maa@xmog.com">send us an email</a>.
						  </div>
					      </div>
					<div>
			</div>
        </div>
    </aside>