    <aside class="clients">
        <div class="container">
            <div class="row" id="scrollbox" style="height: 200px;overflow:hidden">
					<ul style="width: 3000px">
				{% for client in site.clients %}
                    <li style="display: inline-block;margin:0 40px"><a href="{{ client.url }}" target="_blank" title="{{ client.name }}">
						<img src="{{ client.pic }}" class="myGray" alt="{{ client.name }} logo" title="{{ client.name }}" style="width:140px;height:140px">
                    </a></li>
				{% endfor %}
			</ul>
         </div>
	</aside>