    <section id="contribute">
        <div class="container">
            <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2 class="section-heading">Contribute</h2>
	            </div>
				<div class="col-lg-12">
						 <h3>Working with source code</h3>
		                <p>It's easy to work directly with the RestFB source code. This is necessary if you need to use an unreleased version or
		                 want to contribute to the code. It's very important to know that RestFB is using 
						 the <a href="https://projectlombok.org/" target="_self" title="Link to Lombok library">Lombok</a>
						 code generator. All types use special annotations to generate the boilerplate code for the
						 <code>setter</code>s and <code>getter</code>s. It's important to know that we made the design 
						 decision to handle <code>List</code>s and <code>Map</code>s differently - the 
						 <a href="https://projectlombok.org/features/GetterSetter.html" target="_self" 
						 title="How to use Getter/Setter with Lombok">Lombok</a> annotations are not used for them 
						 and we provide <code>add()</code>, <code>remove()</code> and <code>getList()</code> methods. 
						 The returned <code>List</code> is immutable to prevent inner <code>List</code>s and <code>Map</code>s
		                 from being altered by other objects. This idea can be found at <a href="http://martinfowler.com/bliki/EncapsulatedCollection.html" target="_self" title="Link to Martin Fowler's explanation regarding immutable lists">Martin Fowler's blog</a>.
		                </p>
		                <p>
		                    You have to install Lombok in your IDE to compile RestFB. If you don't do this, 
							you will see a lot of compilation errors and missing methods. Further information 
							regarding the installation of Lombok for different IDEs can be
		                    found <a href="https://projectlombok.org/download.html" target="_self" title="Download lombok">here</a>.
		                </p> 
				</div>
			</div>
            <div class="row">
				<div class="col-lg-12">
	            <h3>Contributing to RestFB</h3>
	                <p>
	                    Contributing code is a essential part of open source and we try to make this as easy as possible. You only need to
	                    fork RestFB at Github and send us a pull request. We have some prerequisites to merge the pull request in our <code>Dev</code>
	                    branch.
	                </p>
	                <ul>
	                    <li>The code must be formatted with our code formatter (have a look at the misc folder)</li>
	                    <li>The code should conform to our general design standards (if you feel it's necessary to go against the grain, please ask us first!)</li>
	                    <li>Existing unit tests have to run without error (we use CI)</li>
	                    <li>The pull request should be mergeable</li>
	                    <li>Explain why you made the change and why it's beneficial</li>
	                    <li>jUnit tests are a big plus</li>
	                    <li>The pull request should be based on the dev branch</li>
	                    <li>Group and squash your commits, fewer are better</li>
	                </ul>
	                <p>
	                    These conditions are defined to make everyone's lives easier and cause fewer conflicts when merging a pull request
	                    into the dev branch. If you put some work in a pull request and it meets our requirements,
	                    it's very likely we'll merge it the same day.
	                </p>
	                <p>
	                    If you don't want to dive into the RestFB code you may
						open an <a href="https://github.com/restfb/restfb/issues" target="_self" 
						title="Link to RestFB issues">issue</a>. We are very thankful for every issue you open, 
						no matter what kind it is. We solve bugs, explain Facebook, and answer your RestFB and
	                    Facebook questions.
	                </p>
				</div>
			</div>
		</div>
	</section>