<section class="landing bg-light-gray" id="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-secondary">Features</h2>
				<h3 class="section-subheading text-secondary">{{site.title.dark}} is designed with several goals in mind. The key goals are defined as follows.</h3>
			</div>
		</div>
		<div class="row d-flex align-items-stretch">
			
			
				<div class="col-12 col-md-6 pr-xl-3 pt-md-3">
					<div class="card rounded border-0 shadow-lg mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="fa fa-share-alt mr-2 mr-lg-3 text-primary-restfb fa-lg fa-fw"></i><em>Zero</em> runtime dependencies</h5>
							<p class="card-text restfb-feature">You don't need to have any additional libraries included in your project.  You will not run into trouble with dependency clashes. In addition, RestFB is highly portable and usable in both Android projects and normal Java applications.</p>
						</div>
					</div><!--//card-->
				</div>
				<div class="col-12 col-md-6 pr-xl-3 pt-md-3">
					<div class="card rounded border-0 shadow-lg mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="fa fa-puzzle-piece mr-2 mr-lg-3 text-primary-restfb fa-lg fa-fw"></i>Maximal extensibility</h5>
							<p class="card-text restfb-feature">Although we provide a default implementation for our core components, every component may be replaced with a custom implementation. Therefore RestFB integrates flawlessly in every kind of project. Even Android projects are supported.</p>
						</div>
					</div><!--//card-->
				</div>
				<div class="col-12 col-md-6 pr-xl-3 pt-md-3">
				<div class="card rounded border-0 shadow-lg mb-5">
					<div class="card-body p-4">
						<h5 class="card-title"><i class="fa fa-code mr-2 mr-lg-3 text-primary-restfb fa-lg fa-fw"></i>Minimal public API</h5>
						<p class="card-text restfb-feature">The RestFB API is really minimal and you simply need to use a method to fetch information from and one to publish new items to Facebook. We provide default implementations for all core components, so
							you can drop the jar in your project and are ready to go.</p>
						</div>
					</div><!--//card-->
				</div>
				
				<div class="col-12 col-md-6 pr-xl-3 pt-md-3">
					<div class="card rounded border-0 shadow-lg mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="fa fa-cogs mr-2 mr-lg-3 text-primary-restfb fa-lg fa-fw"></i>Simple metadata-driven configuration</h5>
							<p class="card-text restfb-feature">Our Facebook types are simple POJOs with special annotations. This configuration is designed with ease of use in mind and can be used to really simple define custom types.</p>
						</div>
					</div><!--//card-->
				</div>
			</div>   
		</div>
	</div>
</section>