<section class="landing bg-light-gray" id="features">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2 class="section-heading text-secondary">Features</h2>
				<h3 class="section-subheading text-secondary">{{site.title.dark}} has been designed with several objectives in mind. The most important of these are defined as follows.</h3>
			</div>
		</div>
		<div class="row d-flex align-items-stretch">
				<div class="col-12 col-md-6 pr-xl-3 pt-md-3">
					<div class="card rounded border-0 mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="fa fa-share-alt mr-2 mr-lg-3 text-primary-restfb fa-lg fa-fw"></i><em>Zero</em> runtime dependencies</h5>
							<p class="card-text restfb-feature">You don't need to include additional libraries in your project. There are no dependency conflicts. In addition, RestFB is highly portable and can be used in both Android projects and normal Java applications.</p>
						</div>
					</div><!--//card-->
				</div>
				<div class="col-12 col-md-6 pr-xl-3 pt-md-3">
					<div class="card rounded border-0 mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="fa fa-puzzle-piece mr-2 mr-lg-3 text-primary-restfb fa-lg fa-fw"></i>Maximal extensibility</h5>
							<p class="card-text restfb-feature">Although we provide a standard implementation for our core components, each component can be replaced with a custom implementation. This allows RestFB to be easily integrated into any kind of project. Even Android projects are supported.</p>
						</div>
					</div><!--//card-->
				</div>
				<div class="col-12 col-md-6 pr-xl-3 pt-md-3">
					<div class="card rounded border-0 mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="fa fa-code mr-2 mr-lg-3 text-primary-restfb fa-lg fa-fw"></i>Minimal public API</h5>
							<p class="card-text restfb-feature">TThe RestFB API is really minimal and you only need to use one method to get information from Facebook and one to publish new items to Facebook. We provide default implementations for all the core components, so you can drop the jar into your project and be ready to go.</p>
						</div>
					</div><!--//card-->
				</div>
				<div class="col-12 col-md-6 pr-xl-3 pt-md-3">
					<div class="card rounded border-0 mb-5">
						<div class="card-body p-4">
							<h5 class="card-title"><i class="fa fa-cogs mr-2 mr-lg-3 text-primary-restfb fa-lg fa-fw"></i>Simple metadata-driven configuration</h5>
							<p class="card-text restfb-feature">Our Facebook types are simple POJOs with special annotations. This configuration is designed for ease of use and can be used to define custom types very easily.</p>
						</div>
					</div><!--//card-->
				</div>
			</div>   
		</div>
	</div>
</section>